#%Module1.0

#####################################################################
##
## by Salmon
##

conflict clang
conflict gcc
conflict intel
conflict pgi
conflict lf95

#####################################################################
# define
set MODNAME clang
set VERSION 3.7.0
####################################################################

set PRG_ENV ${MODNAME}-${VERSION}

set PKG /pkg

if  [  info exists env(PKG)   ] { set PKG $env(PKG) }

#if  [  info exists env(PRG_ENV)   ] {  set PRG_ENV $env(PRG_ENV) }

#if  [  info exists env(MPI_PRG_ENV)   ] {     set PRG_ENV ${PRG_ENV}/$env(MPI_PRG_ENV)  }

set PREFIX   ${PKG}/${MODNAME}/${VERSION}


if { ! [ file isdirectory ${PREFIX} ] } {

  puts stderr  " ${MODNAME}-${VERSION} is not installed in \[ ${PREFIX} \] !! If you need it , please contect the site manager! "
  
  module-whatis   " ${MODNAME}-${VERSION} is not installed!!"

  break  
}


prepend-path PATH $PREFIX/bin
prepend-path LIBRARY_PATH  $PREFIX/lib
prepend-path LD_LIBRARY_PATH  $PREFIX/lib
prepend-path LD_RUN_PATH $PREFIX/lib
prepend-path INCLUDE  $PREFIX/include
prepend-path MANPATH  $PREFIX/share/man

set UP_MODNAME [string toupper ${MODNAME}]

setenv ${UP_MODNAME}_VERSION ${VERSION}
setenv ${UP_MODNAME}_ROOT $PREFIX
setenv ${UP_MODNAME}_DIR  $PREFIX
setenv ${UP_MODNAME}_HOME  $PREFIX
setenv ${UP_MODNAME}_PATH $PREFIX


module-whatis   "${MODNAME}-${VERSION}/${PRG_ENV} is installed!!"


proc ModulesHelp { } { 
    global MODNAME	
    global VERSION
    
    puts stderr  "${MODNAME}-${VERSION} is installed by salmon!! 2015.11.25 "
    return 1 
}
